<ion-content>
  <section class="hero">
    <div class="hero-body box-border-bottom">
      <div class="header ion-flex ion-align-items-center">
        <ion-button (click)="goBack()" class="back-btn" shape="round" fill="clear">
          <ion-icon color="light" name="arrow-back"></ion-icon>
        </ion-button>
        <div class="avatar-img ion-flex ion-justify-content-center">
          <ion-avatar>
            <img src="assets/images/image_2.png">
          </ion-avatar>
        </div>
        <div class="btns">
          <ion-button shape="round" fill="clear">
            <ion-icon color="light" name="share-social-outline"></ion-icon>
          </ion-button>
          <ion-button shape="round" fill="clear">
            <ion-icon color="light" name="heart-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <div class="details ion-flex ion-justify-content-center ion-align-items-center">
        <h1>Dr jackie Chan</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa impedit ipsam rerum totam voluptatibus</p>
        <!-- TODO: Add Rating Component-->
        <p>⭐ ⭐ ⭐ ⭐ ⭐</p>
        <div class="props">
          <p><ion-icon color="light" name="disc-outline"></ion-icon>&nbsp; Price 300 EGP</p>
          <p><ion-icon color="light" name="disc-outline"></ion-icon>&nbsp;Waiting Time</p>
          <p><ion-icon color="light" name="pin-outline"></ion-icon>&nbsp;Map View</p>
        </div>
      </div>
    </div>

    <div class="info  ion-padding">
      <h4>Naser City</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit r sit amet, consectet</p>
    </div>
  </section>


  <section class="booking">
    <h2>Booking</h2>
    <div class="scroll-content" scrollx="true">
        <div class="booking-box">
          <div class="day"><h3>Today</h3></div>
          <div class="time ion-flex">
            <div class="ion-flex ion-justify-content-center"><p>From</p> <p>10PM</p></div>
            <div class="ion-flex ion-justify-content-center"><p>To</p> <p>12PM</p></div>
          </div>
          <ion-button color="danger" fill="outline" shape="round">
            Book
          </ion-button>
        </div>
      <div class="booking-box">
        <div class="day"><h3>Tomorrow</h3></div>
        <div class="time ion-flex">
          <div class="ion-flex ion-justify-content-center"><p>From</p> <p>10PM</p></div>
          <div class="ion-flex ion-justify-content-center"><p>To</p> <p>12PM</p></div>
        </div>
        <ion-button color="danger" fill="outline" shape="round">
          Book
        </ion-button>
      </div>
      <div class="booking-box">
        <div class="day"><h3>Tuseday</h3></div>
        <div class="time ion-flex">
          <div class="ion-flex ion-justify-content-center"><p>From</p> <p>10PM</p></div>
          <div class="ion-flex ion-justify-content-center"><p>To</p> <p>12PM</p></div>
        </div>
        <ion-button color="danger" fill="outline" shape="round">
          Book
        </ion-button>
      </div>
    </div>
  </section>

</ion-content>
